@charset "utf-8";
/********** 头部 BEGIN **********/
#header {
  box-shadow: 0 2px 4px #c0c0c0;
  background-color: #fff;
}
#header .logo {
  width: 180px;
  float: left;
  margin-left: 7px;
}
#header .toggle_button {
  display: none;
  position: absolute;
  float: right;
  right: 8px;
  top: 15px;
  text-decoration: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 9px 10px;
}
#header .toggle_button:hover {
  background-color: #ddd;
}
#header .toggle_button span {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
  background-color: #888;
  margin-bottom: 4px;
}
#header .toggle_button span:last-child {
  margin-bottom: 0;
}
#header .nav {
  margin: 0 auto;
  max-width: 1024px;
  position: relative;
}
#header .nav ul {
  float: right;
}
#header .nav ul li {
  float: left;
}
#header .nav ul li.active {
  background-color: #cfdb00;
}
#header .nav ul li a {
  display: block;
  width: 100px;
  height: 68px;
  text-align: center;
  line-height: 68px;
  font-size: 1.4em;
  color: #1e1e1e;
  transition: background 1s;
}
#header .nav ul li a:hover {
  text-decoration: none;
  background-color: #cfdb00;
}
/********** 头部 End ************/
/********** 内容 BEGIN *********/
.prat_1 {
  max-width: 1024px;
  text-align: center;
  margin: 0 auto 4%;
  padding-top: 8% ;
}
/********** 内容 END *********/
/********** 页脚 BEGIN *********/
h2.title-h2 {
  color: #616161;
  font-size: 2.6em;
  position: relative;
  height: 80px;
  line-height: 80px;
  display: inline-block;
}
h2.title-h2::before {
  content: "";
  width: 120px;
  height: 2px;
  background-color: #cfdb00;
  position: absolute;
  left: -142px;
  top: 39px;
}
h2.title-h2::after {
  content: "";
  width: 120px;
  height: 2px;
  background-color: #cfdb00;
  position: absolute;
  right: -142px;
  top: 39px;
}
#footer {
  text-align: center;
}
#footer .contact_box {
  padding-top: 5.4%;
  padding-bottom: 9.7%;
}
#footer .contact_box p {
  color: #898989;
  font-size: 1.2em;
}
#footer .contact_box p a {
  color: #898989;
  text-decoration: none;
}
#footer .copyright {
  height: 64px;
  line-height: 64px;
  font-size: 2em;
  color: #fff;
  background-color: #b4b4b4;
  border-top: 4px solid #cfdb00;
}
/********** 页脚 END **********/
/********** 媒体查询 BEGIN **********/
@media screen and (max-width: 768px) {
  #header .logo {
    float: none;
  }
  #header .toggle_button {
    display: block;
  }
  #header .nav ul {
    display: none;
    float: none;
  }
  #header .nav ul li {
    float: none;
  }
  #header .nav ul a {
    width: 100%;
  }
}
@media screen and (max-width: 480px) {
  html,
  body {
    font-size: 8px;
  }
}
/********** 媒体查询 END **********/
